streamlit==1.43.2
openai
faiss-cpu
numpy
python-dotenv
requests
PyPDF2
youtube_transcript_api
beautifulsoup4
langchain
langchain_community
mistralai
markdown
streamlit_ace

# this is challeges
#  you need to install docker from link https://docs.docker.com/desktop/setup/install/windows-install/
# thn run "docker pull python:3.9-slim" in terminal
# keep docker.desktop open 

# pip install -r requirements.txt
